@import "https://fonts.googleapis.com/css2?family=Germania+One&display=swap";

* {
    box-sizing: border-box;
}

body {
    background-color: #516dff;
    color: #ffffff;
    font-family: "Germania One", system-ui;
}



















.btn {
    border: 0;
    background-color: #ffffff;
    color: #516dff;
    padding: 15px 20px;
    cursor: pointer;
    font-family: inherit;
}